#nav {
    background-color: $success;
    width: $nav-width;
    transition: width 0.10s ease-in 0.2s;

    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: $spacer;

            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
            }

            a h3, span {
                opacity: 0;
                transition: opacity 0.25s ease-in;
                margin-left: 1rem;
                font-weight: 700;
                color: $light-secondary-text;
            }
        }
    }

    &:hover {
        width: 13rem;

        nav {
            ul {
                a h3, span {
                    opacity: 100;
                }
            }
        }
    }
}