<aside id="nav">
    <nav>
        <ul>
            <li>
                <a asp-controller="Login" asp-action="Index">
                    <i class="material-icons md-48 md-light">vpn_key</i>
                    <h3>Login</h3>
                </a>
            </li>
            <li>
                <a asp-action="Index">
                    <i class="material-icons md-48 md-light">home</i>
                    <h3>Home</h3>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="About">
                    <i class="material-icons md-48 md-light">info</i>
                    <h3>About</h3>
                </a>
            </li>
        </ul>
    </nav>
</aside>