<aside id="nav">
    <nav>
        <ul>
            <li>
                <a><i class="material-icons md.dark">vpn_key</i> Login</a>
            </li>
            <li>
                <a><i class="material-icons md.dark">info</i> About</a>
            </li>
        </ul>
    </nav>
</aside>