<section class="errors">
    <div class="errorsList alert alert-danger" asp-validation-summary="ModelOnly"></div>
</section>

<section class="success hidden alert alert-success">
    <h3>Success: </h3>
    <ul class="successList">

    </ul>
</section>