<section class="errors hidden alert alert-danger">
    <h3 class="">Error: </h3>
    <ul class="errorsList">

    </ul>
</section>

<section class="success hidden alert alert-success">
    <h3>Success: </h3>
    <ul class="successList">

    </ul>
</section>