 /* Rules for sizing the icon. */
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }

 /* Rules for using icons as black on a light background. */
 .material-icons.md-dark { color: $dark-secondary-text; }
 .material-icons.md-dark.md-inactive { color: $dark-disabled-text; }

 /* Rules for using icons as white on a dark background. */
 .material-icons.md-light { color: $light-secondary-text; }
 .material-icons.md-light.md-inactive { color: $light-disabled-text; }

@include mat-core();

 .card {
    margin: $spacer;
    padding: $spacer;
 }

 form {
   margin-bottom: 0;

   .bmd-card-actions {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;

       .btn {
           margin: map-get($spacers, 1);
       }
   }
}

 .hidden {
    display: none;
 }