
@model LoginModel
<section id="login" class="card mat-elevation-z3">
    <h1 class="text-center">Login</h1>

    <form asp-action="Index"
          asp-controller="Login"
          method="Post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="UserName" class="bmd-label-floating"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="bmd-label-floating"></label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="bmd-card-actions">
            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
            <!-- TODO -->
            <!-- <a class="btn btn-raised btn-primary" asp-action="ForgotPassword">Forgot Password?</a> -->
            <a class="btn btn-raised btn-success" asp-action="Register">Signup</a>
            <!-- <div asp-validation-summary="All"></div> -->
        </div>

    </form>

    <!-- @Html.ValidationSummary("", new { @class = "errorsList" }) -->
    <partial name="Components/_FormAlerts"></partial>

</section>